
body{
    background-color: black;
}

.login-page{
    color: white;
    height: 93.5vh;
    background-color: black;
    overflow: hidden;
}

.font-login{
    font-weight: bold;
}

.login-page a{
    text-decoration: none;
    color: white;
}

.text-part{
    margin-top: 100px;
    height: 50vh;
    width: 50%;
    font-weight: bold;
}

.login-button{
    border-radius: 5px;
    width: 40%;
    font-weight: bold;
}

.text-part-2{
    height: 100%;
    width: 50%;
    background-color: black;
}

.logo{
    height: 100%;
    width: 100%;
}

.password-color{
    color: #6C6C6C;
    margin-top: 10px;
}

.text-part-3{
    margin-top: 20px;
}

.username-color{
    color: #6C6C6C;
}

@media screen and (max-width: 768px) {
    html, body {
        height: auto;
        margin: 0;
        padding: 0;
        background-color: black;
    }

    .text-part,
    .text-part-2 {
        width: 100%;
    }

    .text-part-2 {
        margin-top: 0;
    }

    .logo {
        max-width: 80%;
        height: 30%;
    }

    .login-page {
        height: auto;
        padding: 2rem;
    }

    .text-part {
        height: auto;
        width: 100%;
        margin-top: 1rem;
    }

    .login-button {
        width: 50%;
        margin-top: 1rem;
    }
}
