.recepten-container {
    display: flex;
    flex-direction: column;
    height:70vh;
    background-color: black;
    color: white;
    font-weight: bold;
}

.recepten-content {
    display: flex;

}

.recepten-ingredients {
    flex-basis: 30%;
    padding: 1em;
}

.recepten-instructions {
    padding: 1em;
}

.recepten-image {
    flex-basis: 30%;
    padding: 1em;
}

.recepten-image img {
    width: 100%;
    height: auto;
}

.recepten-content h2 {
    margin-top: 0;
}

.recepten-content h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.recepten-content ul {
    margin-top: 0;
    margin-bottom: 1em;
    padding-left: 0;
}

.recepten-content li {
    list-style: none;
    margin-bottom: 0.5em;
}

