.recept {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-weight: bold;
    height: 80vh;
}

.recept-header {
    margin: 0;
    padding: 0 20px;
}

.recept-content {
    display: flex;
    flex-wrap: wrap;
}

.recept-ingredients {
    flex-basis: 30%;
    padding: 0 20px;
}

.recept-instructions {
    flex-basis: 40%;
    padding: 0 1em;
}

.recept-image {
    padding: 0 20px;
    flex-basis: 30%;
}

.recept-image img {
    width: 100%;
    height: auto;
}

.recept-content h2 {
    margin-top: 0;
}

.recept-content h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.recept-content ul {
    margin-top: 0;
    margin-bottom: 1em;
    padding-left: 0;
}

.recept-content li {
    list-style: none;
    margin-bottom: 0.5em;
}
