

.mainmenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
}

.cocktail-tile {
    width: 100%;
}

.cocktail-tile h1{
    font-size: 25px;
}

.images-cocktails {
    flex-basis: 12%;
    margin: 10px;
}

.images-cocktails img {
    width: 55%;
    height: 55%;
}

.cocktail-name{
    font-weight: bold;
    font-size: 13px;
}
